body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  z-index: 1000;
  top: 0;
}

header {
  padding: 2rem;
  text-align: center;
}

h2 {
    font-size: 40px;
}

.login-section {
  display: flex;
  gap: 15px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 80px;
}

.search-container {
  position: relative;
  margin: 50px;
  margin-left: 300px;
  display: flex;
  gap: 3px;
}

.input-btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  width: 900px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.search-icon {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

ul {
  left: 10px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.post-job-btn{
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid gray;
  background: rgba(26, 68, 194, 0.05);
}

.post-a-job-btn {
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(246, 246, 246);
}

.icon, a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-self: center;
}

.break-line {
  display: block;
}

.all-you-need {
  text-align: center;
  margin-top: 100px;
}

.break-line {
  color: rgb(72, 105, 226);
}